.card-class-title {
    text-decoration: none;
    color: navy;
    font-weight: 600; 
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    width: 100%;
}
.card-class-title:hover {
    text-decoration: underline;
    text-decoration-color: #D41B2C;
}
.btn:hover {
    color:#D41B2C;
}

.class-button {
    border: 2px solid lightgray;
    border-radius: 5px;
    margin: 2px;
}
  
.class-button-delete {
    border: 2px solid #D41B2C;
    background-color: #D41B2C;
    border-radius: 5px;
    color: white;
}