.wd-modules-button-group {
    background-color: #E6E6E6;
    color: black;
    border-radius: 5px;
    border-color: lightgray;
    margin: 2px;
}
.wd-modules-button-group:hover{
    background-color: lightgray;
    text-decoration: none;
    color: black;
}
.wd-modules-button-assignment {
    background-color: #D41B2C;
    color: white;
    border-radius: 5px;
    border-color: lightgray;
    margin: 2px;
}
.wd-modules-button-assignment:hover{
    background-color: #D41B2C;
    text-decoration: none;
    color: white;
}